{% extends "base_template.html" %}

{% block title %}Main page{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <h2>
                    {{ community.name }}
            </h2>
            <a href="{{ community.url }}">{{ community.url }}</a>

            <div class="modal-footer" style="margin-top:1rem;justify-content: flex-start;gap:1rem;">
                <a href="/community/{{ community.name }}">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Datasets</button>
                </a>
                <a href="/community/{{ community.name }}/info">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Info</button>
                </a>
                <a href="/community/{{ community.name }}/members">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Members</button>
                </a>
                {% if not user_in_community %}
                <form action="/community/{{ community.name }}/join" method="post">
                    <input type="submit" value="Join!" type="button" class="btn btn-success">
                </form>
                {% else %}
                <p>
                    You are already a member
                </p>
                {% endif %}
            </div>
        </div>
    </div>


    <h3 class="h3 mb-3">

        <b>{{community.name}}</b> datasets
    </h1>

    <div class="row">

        <div class="mb-2 col-xl-8 col-lg-12 col-md-12 col-sm-12">

            {% for member in community.members %}
                <div class="card">
                    <div class="card-body">
                        {{member.profile.name}} {{member.profile.surname}}


                    </div>
                </div>
            {% endfor %}



        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('public.scripts') }}"></script>
{% endblock %}