{% extends "base_template.html" %}

{% block title %}Main page{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <h2>
                    {{ community.name }}
                    {% if user_in_community %}              
                        <a href="/dataset/{{ community.name }}/upload">
                            <button type="button" class="btn btn-primary upload_dataset_button" data-dismiss="modal">Upload dataset</button>
                        </a>
                    {% endif %}
            </h2>
            <a href="{{ community.url }}">{{ community.url }}</a>

            <div class="modal-footer" style="margin-top:1rem;justify-content: flex-start;gap:1rem;">
                <a href="/community/{{ community.name }}">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Datasets</button>
                </a>
                <a href="/community/{{ community.name }}/info">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Info</button>
                </a>
                <a href="/community/{{ community.name }}/members">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Members</button>
                </a>
                {% if not user_in_community and not has_user_send_a_request_to_join %}
                <form action="/community/{{ community.name }}/join" method="post">
                    <input name="join_community_button" type="submit" value="Join!" type="button" class="btn btn-success">
                </form>
                {% elif has_user_send_a_request_to_join %}
                <buton disabled class="btn btn-warning waiting_to_be_acepted">Waiting to be accepted by the administrator</button>
                {% else %}
                <p class="you_are_already_a_member" style="font-weight: 900;">
                    You are already a member
                </p>
                {% endif %}
            </div>
        </div>
    </div>


    <h3 class="h3 mb-3">

        <b>{{community.name}}</b> info
    </h1>

    <div class="row">

        <div class="card">
            <div class="card-body">
                        
                {{community.description}}

            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('public.scripts') }}"></script>
{% endblock %}