{% extends "base_template.html" %}

{% block title %}Main page{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <h2>
                    {{ community.name }}
                    <a href="/dataset/{{ community.name }}/upload">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Upload dataset</button>
                    </a>
            </h2>
            <a href="{{ community.url }}">{{ community.url }}</a>

            <div class="modal-footer" style="margin-top:1rem;justify-content: flex-start;gap:1rem;">
                <a href="/community/{{ community.name }}">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Datasets</button>
                </a>
                <a href="/community/{{ community.name }}/info">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Info</button>
                </a>
                <a href="/community/{{ community.name }}/members">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Members</button>
                </a>
                {% if not user_in_community %}
                <form action="/community/{{ community.name }}/join" method="post">
                    <input type="submit" value="Join!" type="button" class="btn btn-success">
                </form>
                {% else %}
                <p class="you_are_already_a_member">
                    You are already a member
                </p>
                {% endif %}
            </div>
        </div>
    </div>


    <h3 class="h3 mb-3">

        <b>{{community.name}}</b> datasets
    </h1>

    <div class="row">

        <div class="mb-2 col-xl-8 col-lg-12 col-md-12 col-sm-12">

            {% for future_member in join_requests %}
                <div class="card">
                    <div class="card-body" style="display:flex;flex-direction: row;justify-content: space-between;align-items: center;">
                        {{future_member.name}} {{future_member.surname}}

                        <div style="display: flex;flex-direction: row;gap:20px;">
                            <form action="/community-join-request/{{ future_member.id }}/accept" method="post">
                                <input type="submit" value="Accept" type="button" class="btn btn-success">
                            </form>
                            <form action="/community-join-request/{{ future_member.id }}/decline" method="post">
                                <input type="submit" value="Decline" type="button" class="btn btn-danger">
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for member in community.members %}
                <div class="card">
                    <div class="card-body">
                        {{member.profile.name}} {{member.profile.surname}}


                    </div>
                </div>
            {% endfor %}



        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('public.scripts') }}"></script>
{% endblock %}